{% extends 'layout.html' %} {% block body %}
<h1 class="lal">Sequence prediction</h1>
<div>
  <button class="btn btn-primary">Home page</button><br />
  <button class="b2">Training</button><br />
  <button class="b3">Prediction</button><br />
  <button class="b4">Search</button><br />
</div>
<!-- div 1 -->
<div id="bada">
  <div>
    <img src="seq2.jpeg" alt="Abhinav freelancer" class="c1" />
    <h2>Description</h2>
    <br />
    <p id="p1">
      Sequence prediction is a popular machine learning task, which consists of
      predicting the next symbol(s) based on the previously observed sequence of
      symbols. These symbols could be a number, an alphabet, a word, an event,
      or an object like a webpage or product. For example: A sequence of words
      or characters in a text.
    </p>
    <br />
  </div>

  <!-- div 2 -->
  <h2>What is Sequence prediction ?</h2>
  <br />
  <img src="sequenceP.jpg" class="c2" />
  <p id="p2">
    Sequence prediction is a popular machine learning task, which consists of
    predicting the next symbol(s) based on the previously observed sequence of
    symbols. These symbols could be a number, an alphabet, a word, an event, or
    an object like a webpage or product.
  </p>
  <br />

  <!-- div 3 -->
  <div>
    <h2>What is CPT?</h2>
    <br />
    <img src="seq.jpg" class="c3" />
    <p class="p3">
      CPT is a sequence prediction model. It is a highly explainable model
      specialized in predicting the next element of a sequence over a finite
      alphabet.
    </p>
    <br />
  </div>
</div>
{% endblock %}
